/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap");

/* base style */
* {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

/* typography setup */

.primary-color {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.secondary-color {
  color: #f948b2;
}

h1 {
  font-size: 48px;
  color: #0b0223;
}

h2 {
  font-size: 45px;
  font-family: 700;
  color: #0b0223;
}
h3 {
  font-size: 24px;
  font-weight: 700;
  color: #534c64;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: #534c64;
}
h5 {
  font-size: 18px;
  font-weight: 600;
}

p {
  font-size: 18px;
  color: #534c64;
  font-weight: 400;
}

small {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 500;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 10px;
}

.section-gap {
  margin: 100px auto;
}

.btn-primary,
.btn-secondary {
  border-radius: 48px;
  background-color: #f948b2;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 20px 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn-primary:hover {
  background-color: #4ec5f7;
  color: white;
}
.btn-secondary:hover {
  background-color: #f948b2;
  color: white;
}

.btn-secondary {
  background-color: #4ec5f7;
}

/* navbar */

.navbar {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 30px 0px;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 86px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items li {
  list-style: none;
  margin-left: 30px;
}

.nav-items a {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #3c354f;
}

.nav-btn {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px 24px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  color: #3c354f;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.nav-btn:hover {
  background-color: #4ec5f7;
  color: white;
}

/* banner */
.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-content,
.banner-image {
  width: 50%;
}

.big-heading {
  font-size: 95px;
}

.banner-content .top-heading {
  text-transform: uppercase;
  font-weight: 500;
}

.banner-content h4 {
  margin: 15px 0;
}

.btn-group {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

/* online games  */

.games-content {
  text-align: center;
}

.games-content p {
  margin: 15px 0;
}

.games-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

/* play games */

.play-games {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 240px;
}

.game-content,
.game-images {
  width: 50%;
}

.game-content h1 {
  margin: 15px 0;
}

.play-badge {
  position: relative;
  width: 260px;
  top: -180px;
  right: 120px;
  height: 150px;
}

/* categories */

.categories-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  padding: 40px 0;
}
.categories {
  display: flex;
  gap: 20px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  display: flex;
  gap: 8px;
  align-items: center;
  border-radius: 50px;
  background: #fff;
  border: 1.5px solid white;
  cursor: pointer;
  transition: all 1s;
}
.item:hover {
  border: 1.5px solid #f948b2;
}

.item img {
  width: 60px;
}

.item h4 {
  font-weight: 600;
  color: #0b0223;
}

/* footer */

.footer {
  background-color: #0b0223;
  text-align: center;
  color: white;
  padding: 120px;
}
.footer .logo {
  justify-content: center;
}

.footer h2,
a {
  color: white;
}

.footer-items {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin: 50px 0;
  flex-wrap: wrap;
}
.footer-icon {
  font-size: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-items,
.footer-icon li {
  list-style: none;
}
.footer-items a {
  text-decoration: none;
}

.game-card {
  cursor: pointer;
}

.game-img {
  border-radius: 16px;
}

.game-img :hover {
  background-color: #020b0f;
  /* border: 6px solid #f948b2; */
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
}

.game-img:hover .play-badge {
  color: red;
}

/* ===============================================================
 responsive screen 
================================================================== */

/* small screen */

@media screen and (max-width: 576px) {
  /* base style and typography */
  .container {
    padding: 0 20px;
  }
  .section-gap {
    margin: 80px auto;
  }
  .banner-container {
    gap: 40px;
  }

  .banner-content {
    background: linear-gradient(
      90deg,
      rgba(255, 66, 165, 0.03) 13.13%,
      rgba(255, 66, 165, 0.03) 87.94%
    );
  }

  .nav-container,
  .banner-container {
    flex-direction: column;
  }
  .nav-items {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }

  .btn-group {
    flex-direction: column;
  }

  .nav-btn {
    padding: 10px 20px;
  }

  .banner-image {
    width: 100%;
    order: 1;
  }
  .banner-content {
    width: 100%;
    order: 2;
  }

  .big-heading {
    font-size: 80px;
  }

  .games-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .game-card {
    text-align: center;
  }

  .categories-section {
    padding: 0;
  }

  .play-games {
    flex-direction: column;
    gap: 40px;
  }

  .game-content,
  .game-images {
    width: 100%;
  }

  .play-badge {
    position: relative;
    width: 195px;
    top: -161px;
    right: -11px;
    height: 50px;
  }

  .footer {
    padding: 60px 20px;
  }
  .footer-items {
    gap: 30px;
    margin: 40px 0;
  }
}

/* medium screen */

@media screen and (min-width: 576px) and (max-width: 960px) {
  /* base style and typography */

  .container {
    padding: 0 20px;
  }

  .nav-container {
    flex-direction: column;
  }
  .nav-items {
    gap: 60px;
    margin-top: 30px;
  }

  .banner-content {
    background: linear-gradient(
      90deg,
      rgba(255, 66, 165, 0.03) 13.13%,
      rgba(255, 66, 165, 0.03) 87.94%
    );
  }

  .nav-container,
  .banner-container {
    flex-direction: column;
  }
  .nav-items {
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
  }

  .nav-btn {
    padding: 10px 20px;
  }

  .banner-image {
    width: 100%;
    order: 1;
  }
  .banner-content {
    width: 100%;
    order: 2;
    text-align: center;
  }

  .banner-container {
    gap: 40px;
  }
  .btn-group {
    justify-content: center;
  }

  .games-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .play-games {
    flex-direction: column;
    gap: 40px;
  }

  .game-content,
  .game-images {
    width: 100%;
  }

  .game-content {
    text-align: center;
  }

  .play-badge {
    width: 260px;
    top: -180px;
    right: -50px;
    height: 80px;
  }
}
